openapi: 3.0.1
info:
  description: |
    <div class="description_important">
      Узнать больше о документах и бухгалтерии можно в <a href="https://seller.wildberries.ru/instructions/category/ba929b64-1f89-4426-82d7-ce998ee552bd?goBackOption=prevRoute&categoryId=3c971375-9939-45e8-ab82-376019be8942">справочном центре</a>
    </div>

    Просмотр [баланса](/openapi/financial-reports-and-accounting#tag/Balans), [финансовых отчётов](/openapi/financial-reports-and-accounting#tag/Finansovye-otchyoty) и [документов](/openapi/financial-reports-and-accounting#tag/Dokumenty) продавца.
  title: Документы и бухгалтерия
  version: finances
  x-file-name: finances
servers:
- url: /
security:
- HeaderApiKey: []
tags:
- description: ""
  name: Баланс
- description: ""
  name: Финансовые отчёты
- description: ""
  name: Документы
paths:
  /api/v1/account/balance:
    get:
      description: |
        Метод возвращает данные виджета баланса на [главной странице](https://seller.wildberries.ru) портала продавцов.
        <br><br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1 запрос | 1 мин | 1 запрос |
        </div>
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_200_response"
          description: Успешно
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: "please top up your balance in your company personal account\
                  \ https://dev.{{ .baseDomain }}/company"
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_402_response"
          description: Требуется платёж
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить баланс продавца
      tags:
      - Баланс
      x-readonly-method: true
      x-category: finance
    servers:
    - url: https://finance-api.wildberries.ru
  /api/v5/supplier/reportDetailByPeriod:
    get:
      description: |
        Метод возвращает детализации к [отчётам реализации](https://seller.wildberries.ru/suppliers-mutual-settlements).
        <br><br>
        Данные доступны с 29 января 2024 года.

        <div class="description_important">
          Вы можете выгрузить данные в <a href="https://dev.wildberries.ru/ru/cases/1">Google Таблицы</a>
        </div>

        <div class="description_limit">
          <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

          | Период | Лимит | Интервал | Всплеск |
          | --- | --- | --- | --- |
          | 1 минута | 1 запрос | 1 минута | 1 запрос |
        </div>
      parameters:
      - description: |
          Начальная дата отчёта.<br>
          Дата в формате RFC3339. Можно передать дату или дату со временем.
          Время можно указывать с точностью до секунд или миллисекунд. <br>
          Время передаётся в часовом поясе Москва (UTC+3).
          <br>Примеры:
            - `2019-06-20`
            - `2019-06-20T23:59:59`
            - `2019-06-20T00:00:00.12345`
            - `2017-03-25T00:00:00`
        explode: true
        in: query
        name: dateFrom
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: Конечная дата отчёта
        explode: true
        in: query
        name: dateTo
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: Количество строк в ответе
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100000
          maximum: 100000
          type: integer
        style: form
      - description: |
          Уникальный ID строки отчёта. Необходим для получения отчёта частями.
          <br>
          Загрузку отчёта нужно начинать с `rrdid = 0` и при последующих вызовах API передавать в запросе значение `rrd_id` из последней строки, полученной в результате предыдущего вызова.
          <br>
          Таким образом, для загрузки одного отчёта может понадобиться вызывать API до тех пор, пока не вернётся ответ 204.
        explode: true
        in: query
        name: rrdid
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: |
          Периодичность отчёта:
            - `weekly` — еженедельный
            - `daily` — ежедневный
        explode: true
        in: query
        name: period
        required: false
        schema:
          default: weekly
          enum:
          - weekly
          - daily
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DetailReportItem"
                type: array
          description: Успешно
        "204":
          description: Нет данных
        "400":
          content:
            application/json:
              example:
                status: 400
                title: GetReportDetailByPeriodNB decode error
                detail: "GetReportDetailByPeriodNB decode error: missing dateTo params"
                request_id: b065c204-c5f7-431b-b12c-d4c2cc6347ec
                origin: open-api
              schema:
                $ref: "#/components/schemas/_api_v5_supplier_reportDetailByPeriod_get_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: "please top up your balance in your company personal account\
                  \ https://dev.{{ .baseDomain }}/company"
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_402_response"
          description: Требуется платёж
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Отчёт о продажах по реализации
      tags:
      - Финансовые отчёты
      x-readonly-method: true
      x-category: statistics
    servers:
    - url: https://statistics-api.wildberries.ru
  /api/v1/documents/categories:
    get:
      description: |
        Метод возвращает категории документов для получения [списка документов продавца](/openapi/financial-reports-and-accounting#tag/Dokumenty/paths/~1api~1v1~1documents~1list/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 10 сек | 1 запрос | 10 сек | 5 запросов |
        </div>
      parameters:
      - description: |
          Язык поля `title`:
            - `ru` — русский
            - `en` — английский
            - `zh` — китайский
        explode: true
        in: query
        name: locale
        required: false
        schema:
          default: en
          example: ru
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCategories"
          description: Успешно
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Категории документов
      tags:
      - Документы
      x-readonly-method: true
      x-category: documents
    servers:
    - url: https://documents-api.wildberries.ru
  /api/v1/documents/list:
    get:
      description: |
        Метод возвращает список документов продавца. Вы можете получить [один](/openapi/financial-reports-and-accounting#tag/Dokumenty/paths/~1api~1v1~1documents~1download/get) или [несколько](/openapi/financial-reports-and-accounting#tag/Dokumenty/paths/~1api~1v1~1documents~1download~1all/post) документов из полученного списка.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 10 сек | 1 запрос | 10 сек | 5 запросов |
        </div>
      parameters:
      - description: |
          Язык поля `category`:
            - `ru` — русский
            - `en` — английский
            - `zh` — китайский
        explode: true
        in: query
        name: locale
        required: false
        schema:
          default: en
          example: ru
          type: string
        style: form
      - description: Начало периода. Только вместе с `endTime`
        explode: true
        in: query
        name: beginTime
        required: false
        schema:
          example: 2024-07-09
          format: date
          type: string
        style: form
      - description: Конец периода. Только вместе с `beginTime`
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          example: 2024-07-15
          format: date
          type: string
        style: form
      - description: |
          Сортировка:
            - `date` — по дате создания документа
            - `category` — по категории (только при `locale=ru`)

          Только вместе с `order`
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: date
          enum:
          - date
          - category
          example: category
          type: string
        style: form
      - description: |
          Сортировка:
            - `desc` — по убыванию
            - `asc` — по возрастанию

          Только вместе с `sort`
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: desc
          enum:
          - desc
          - asc
          example: asc
          type: string
        style: form
      - description: "ID [категории документов](./financial-reports-and-accounting#tag/Dokumenty/paths/~1api~1v1~1documents~1categories/get)\
          \ из поля `name`"
        explode: true
        in: query
        name: category
        required: false
        schema:
          example: redeem-notification
          type: string
        style: form
      - description: Уникальный ID документа
        explode: true
        in: query
        name: serviceName
        required: false
        schema:
          example: redeem-notification-44841941
          type: string
        style: form
      - description: Максимальное количество строк ответа
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 10
          maximum: 50
          type: integer
        style: form
      - description: После какой строки выдавать данные
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 90
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetList"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                BadSort&Orders:
                  description: Параметры sort и order нельзя указывать по отдельности
                  value:
                    title: Bad Request
                    status: 400
                    detail: sort and order must be both set or both not set
                    requestId: 41fc3b08-051d-4871-9991-6502977912ad
                    origin: docs-public-api
                BadLimit:
                  description: Превышено допустимое значение параметра limit
                  value:
                    title: Bad Request
                    status: 400
                    detail: limit must be less than or equal to 50
                    requestId: 46ce9c17-4b74-46ed-abb1-e40d2b0d52ce
                    origin: docs-public-api
              schema:
                $ref: "#/components/schemas/_api_v1_documents_list_get_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: "please top up your balance in your company personal account\
                  \ https://dev.{{ .baseDomain }}/company"
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_402_response"
          description: Требуется платёж
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Список документов
      tags:
      - Документы
      x-readonly-method: true
      x-category: documents
    servers:
    - url: https://documents-api.wildberries.ru
  /api/v1/documents/download:
    get:
      description: |
        Метод загружает один документ из [списка документов продавца](/openapi/financial-reports-and-accounting#tag/Dokumenty/paths/~1api~1v1~1documents~1list/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 10 сек | 1 запрос | 10 сек | 5 запросов |
        </div>
      parameters:
      - description: Уникальный ID документа
        explode: true
        in: query
        name: serviceName
        required: true
        schema:
          example: redeem-notification-44841941
          type: string
        style: form
      - description: Формат документа
        explode: true
        in: query
        name: extension
        required: true
        schema:
          example: zip
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDoc"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                title: Bad Request
                status: 400
                detail: serviceName and extension are required
                requestId: 7c500a19-f531-4639-b0a4-53d6d296c349
                origin: docs-public-api
              schema:
                $ref: "#/components/schemas/_api_v1_documents_list_get_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: "please top up your balance in your company personal account\
                  \ https://dev.{{ .baseDomain }}/company"
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_402_response"
          description: Требуется платёж
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить документ
      tags:
      - Документы
      x-readonly-method: true
      x-category: documents
    servers:
    - url: https://documents-api.wildberries.ru
  /api/v1/documents/download/all:
    post:
      description: |
        Метод загружает несколько документов из [списка документов продавца](/openapi/financial-reports-and-accounting#tag/Dokumenty/paths/~1api~1v1~1documents~1list/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 5 мин | 1 запрос | 5 мин | 5 запросов |
        </div>
      requestBody:
        content:
          application/json:
            example:
              params:
              - extension: zip
                serviceName: redeem-notification-44841941
              - extension: xlsx
                serviceName: act-income-mp-392460936
            schema:
              $ref: "#/components/schemas/requestDownload"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDocs"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                badRequestBodyElement:
                  description: Некорректное тело запроса
                  value:
                    title: Bad Request
                    status: 400
                    detail: request body must contain at least one element with serviceName
                      and extension
                    requestId: 6c364410-625c-4493-a434-8cbe79dfbf18
                    origin: docs-public-api
                badRequestBodyElementCount:
                  description: Превышено количество запрашиваемых документов
                  value:
                    title: Bad Request
                    status: 400
                    detail: documents count must be less than or equal to 50
                    requestId: 0cf25b67-865e-4126-b971-1ff2e17fe84a
                    origin: docs-public-api
              schema:
                $ref: "#/components/schemas/_api_v1_documents_list_get_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: "please top up your balance in your company personal account\
                  \ https://dev.{{ .baseDomain }}/company"
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_402_response"
          description: Требуется платёж
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить документы
      tags:
      - Документы
      x-readonly-method: true
      x-category: documents
    servers:
    - url: https://documents-api.wildberries.ru
components:
  parameters:
    LocaleCat:
      description: |
        Язык поля `title`:
          - `ru` — русский
          - `en` — английский
          - `zh` — китайский
      explode: true
      in: query
      name: locale
      required: false
      schema:
        default: en
        example: ru
        type: string
      style: form
    LocaleList:
      description: |
        Язык поля `category`:
          - `ru` — русский
          - `en` — английский
          - `zh` — китайский
      explode: true
      in: query
      name: locale
      required: false
      schema:
        default: en
        example: ru
        type: string
      style: form
  responses:
    "401":
      content:
        application/problem+json:
          example:
            title: unauthorized
            detail: "token problem; token is malformed: could not base64 decode signature:\
              \ illegal base64 data at input byte 84"
            code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
            requestId: 7b80742415072fe8b6b7f7761f1d1211
            origin: s2s-api-auth-catalog
            status: 401
            statusText: Unauthorized
            timestamp: 2024-09-30T06:52:38Z
          schema:
            $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
      description: Не авторизован
    "402":
      content:
        application/problem+json:
          example:
            title: payment required
            detail: "please top up your balance in your company personal account https://dev.{{\
              \ .baseDomain }}/company"
          schema:
            $ref: "#/components/schemas/_api_v1_account_balance_get_402_response"
      description: Требуется платёж
    "429":
      content:
        application/problem+json:
          example:
            title: too many requests
            detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
            code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
            requestId: 9d3c02cc698f8b041c661a7c28bed293
            origin: s2s-api-auth-catalog
            status: 429
            statusText: Too Many Requests
            timestamp: 2024-09-30T06:52:38Z
          schema:
            $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
      description: Слишком много запросов
    response400rDBP:
      content:
        application/json:
          example:
            status: 400
            title: GetReportDetailByPeriodNB decode error
            detail: "GetReportDetailByPeriodNB decode error: missing dateTo params"
            request_id: b065c204-c5f7-431b-b12c-d4c2cc6347ec
            origin: open-api
          schema:
            $ref: "#/components/schemas/_api_v5_supplier_reportDetailByPeriod_get_400_response"
      description: Неправильный запрос
    Responses400List:
      content:
        application/json:
          examples:
            BadSort&Orders:
              description: Параметры sort и order нельзя указывать по отдельности
              value:
                title: Bad Request
                status: 400
                detail: sort and order must be both set or both not set
                requestId: 41fc3b08-051d-4871-9991-6502977912ad
                origin: docs-public-api
            BadLimit:
              description: Превышено допустимое значение параметра limit
              value:
                title: Bad Request
                status: 400
                detail: limit must be less than or equal to 50
                requestId: 46ce9c17-4b74-46ed-abb1-e40d2b0d52ce
                origin: docs-public-api
          schema:
            $ref: "#/components/schemas/_api_v1_documents_list_get_400_response"
      description: Неправильный запрос
    Responses400Download:
      content:
        application/json:
          example:
            title: Bad Request
            status: 400
            detail: serviceName and extension are required
            requestId: 7c500a19-f531-4639-b0a4-53d6d296c349
            origin: docs-public-api
          schema:
            $ref: "#/components/schemas/_api_v1_documents_list_get_400_response"
      description: Неправильный запрос
    Responses400DownloadAll:
      content:
        application/json:
          examples:
            badRequestBodyElement:
              description: Некорректное тело запроса
              value:
                title: Bad Request
                status: 400
                detail: request body must contain at least one element with serviceName
                  and extension
                requestId: 6c364410-625c-4493-a434-8cbe79dfbf18
                origin: docs-public-api
            badRequestBodyElementCount:
              description: Превышено количество запрашиваемых документов
              value:
                title: Bad Request
                status: 400
                detail: documents count must be less than or equal to 50
                requestId: 0cf25b67-865e-4126-b971-1ff2e17fe84a
                origin: docs-public-api
          schema:
            $ref: "#/components/schemas/_api_v1_documents_list_get_400_response"
      description: Неправильный запрос
  schemas:
    requestDownload:
      properties:
        params:
          items:
            $ref: "#/components/schemas/requestDownload_params_inner"
          maxItems: 50
          minItems: 1
          type: array
      type: object
    GetCategories:
      example:
        data:
          categories:
          - name: redeem-notification
            title: Уведомление о выкупе
          - name: redeem-notification
            title: Уведомление о выкупе
      properties:
        data:
          $ref: "#/components/schemas/GetCategories_data"
    GetList:
      example:
        data:
          documents:
          - extensions:
            - zip
            - zip
            creationTime: 2023-10-03T00:18:06.879Z
            viewed: false
            name: redeem-notification
            serviceName: redeem-notification-44841941
            category: Уведомление о выкупе
          - extensions:
            - zip
            - zip
            creationTime: 2023-10-03T00:18:06.879Z
            viewed: false
            name: redeem-notification
            serviceName: redeem-notification-44841941
            category: Уведомление о выкупе
      properties:
        data:
          $ref: "#/components/schemas/GetList_data"
    GetDoc:
      example:
        data:
          fileName: Notice of redemption 44841941.zip
          extension: zip
          document: UEsDBBQACAgIAAAAAAAAAAAAAAAAAAAAAABHAAAA0KPQstC10LTQvtC80LvQtdC90LjQtSDQviDQstGL0LrRg9C/0LUg4oSWNDQ4NDE5NDEg0L7RgiAyNS4wOS4yMDIzLnhsc3jsnQk0lP3f/0dEUiRkNwmVECI7o0WS7EklxprdkH2bKVkqISRkGSlkaxRlN2TPnmzJvu/Gzmz/Uz33fY/L8/Q8zrn/x/07565zcjrn9f1cn/V6f69v53zTVCWnYATtA+0DAX/Rg0AgM5ip5l2Yg5OwKeyu+Wl3O1vbcA3YV5FDVfPej2vXKptOK1V9LjycmPDG72uW4vcG9xdsOI1V2wj86sk6+4nHJeZ92NFgC/He3gmDlccFXSyumXYUGSKK4hLLsqu5aBTspu5lqlcGB/JNlQVn1Eumj6o8ZEWPRotEVGkH9/kf457totEKj2N2P4dSZWAIaC0ajy5J+VL5fen1YOhcGMxvvUw+XOKFOHL...LSL/tC77s0GzTi2iBuHorbMpcOaw0Hmsc/gpk7ty3/cdDYRmhkRUPAIC37P94CA8oiP/fIvpPK8n9l43YARWRgH/tI6E3ntD/nfOfPyj9jxxDwn+b8/8dZqBDQPjPNSAACJgBAAD21P9s/y8AAP//UEsHCFHrudyQEwAASxQAAFBLAQIUABQACAgIAAAAAACH4v2BaSgAAGNjAABHAAAAAAAAAAAAAAAAAAAAAADQo9Cy0LXQtNC+0LzQu9C10L3QuNC1INC+INCy0YvQutGD0L/QtSDihJY0NDg0MTk0MSDQvtGCIDI1LjA5LjIwMjMueGxzeFBLAQIUABQACAgIAAAAAADTmLxwRQcAAGAPAABLAAAAAAAAAAAAAAAAAN4oAADQo9Cy0LXQtNC+0LzQu9C10L3QuNC1INC+INCy0YvQutGD0L/QtSDihJY0NDg0MTk0MSDQvtGCIDI1LjA5LjIwMjMueGxzeC5zaWdQSwECFAAUAAgACAAAAAAAUeu53JATAABLFAAACAAAAAAAAAAAAAAAAACcMAAAbWNoZC56aXBQSwUGAAAAAAMAAwAkAQAAYkQAAAAA
      properties:
        data:
          $ref: "#/components/schemas/GetDoc_data"
    GetDocs:
      example:
        data:
          fileName: documents.zip
          extension: zip
          document: UEsDBBQACAgIAAAAAAAAAAAAAAAAAAAAAABHAAAA0KPQstC10LTQvtC80LvQtdC90LjQtSDQviDQstGL0LrRg9C/0LUg4oSWNDQ4NDE5NDEg0L7RgiAyNS4wOS4yMDIzLnhsc3jsnQk0lP3f/0dEUiRkNwmVECI7o0WS7EklxprdkH2bKVkqISRkGSlkaxRlN2TPnmzJvu/Gzmz/Uz33fY/L8/Q8zrn/x/07565zcjrn9f1cn/V6f69v53zTVCWnYATtA+0DAX/Rg0AgM5ip5l2Yg5OwKeyu+Wl3O1vbcA3YV5FDVfPej2vXKptOK1V9LjycmPDG72uW4vcG9xdsOI1V2wj86sk6+4nHJeZ92NFgC/He3gmDlccFXSyumXYUGSKK4hLLsqu5aBTspu5lqlcGB/JNlQVn1Eumj6o8ZEWPRotEVGkH9/kf457totEKj2N2P4dSZWAIaC0ajy5J+VL5fen1YOhcGMxvvUw+XOKFOHL...LSL/tC77s0GzTi2iBuHorbMpcOaw0Hmsc/gpk7ty3/cdDYRmhkRUPAIC37P94CA8oiP/fIvpPK8n9l43YARWRgH/tI6E3ntD/nfOfPyj9jxxDwn+b8/8dZqBDQPjPNSAACJgBAAD21P9s/y8AAP//UEsHCFHrudyQEwAASxQAAFBLAQIUABQACAgIAAAAAACH4v2BaSgAAGNjAABHAAAAAAAAAAAAAAAAAAAAAADQo9Cy0LXQtNC+0LzQu9C10L3QuNC1INC+INCy0YvQutGD0L/QtSDihJY0NDg0MTk0MSDQvtGCIDI1LjA5LjIwMjMueGxzeFBLAQIUABQACAgIAAAAAADTmLxwRQcAAGAPAABLAAAAAAAAAAAAAAAAAN4oAADQo9Cy0LXQtNC+0LzQu9C10L3QuNC1INC+INCy0YvQutGD0L/QtSDihJY0NDg0MTk0MSDQvtGCIDI1LjA5LjIwMjMueGxzeC5zaWdQSwECFAAUAAgACAAAAAAAUeu53JATAABLFAAACAAAAAAAAAAAAAAAAACcMAAAbWNoZC56aXBQSwUGAAAAAAMAAwAkAQAAYkQAAAAA
      properties:
        data:
          $ref: "#/components/schemas/GetDocs_data"
    DetailReportItem:
      example:
        ppvz_sales_commission: 23.74
        sale_price_promocode_discount_prc: 0
        loyalty_discount: 0
        agency_vat: 0
        retail_amount: 367
        ppvz_vw: 22.25
        loyalty_id: 0
        declaration_number: ""
        retail_price: 1249
        payment_processing: Комиссия за организацию платежа с НДС
        srid: 0f1c3999172603062979867564654dac5b702849
        ppvz_kvw_prc_base: 24.15
        ppvz_inn: "010101010101"
        rr_dt: 2022-10-20
        cashback_amount: 0
        site_country: Россия
        sup_rating_prc_up: 0.8008281904610115
        create_dt: 2022-10-24
        product_discount_for_report: 0
        sale_dt: 2022-10-20T00:00:00Z
        barcode: "1231312352310"
        delivery_rub: 0
        trbx_id: WB-TRBX-1234567
        seller_promo_discount: 3
        ppvz_office_id: 105383
        brand_name: BlahBlah
        date_to: 2022-10-23
        report_type: 1
        commission_percent: 24
        is_kgvp_v2: 6.027456183070403
        cashback_discount: 0
        order_dt: 2022-10-13T00:00:00Z
        payment_schedule: 0
        cashback_commission_change: 0
        rebill_logistic_cost: 1.349
        assembly_id: 2816993144
        deduction: 6354
        acceptance: 865
        ts_name: "0"
        ppvz_spp_prc: 25.31
        dlv_prc: 1.8
        subject_name: Мини-печи
        sa_name: MAB123
        date_from: 2022-10-17
        fix_tariff_date_to: 2024-11-18
        return_amount: 0
        ppvz_reward: 0
        gi_id: 123456
        sale_percent: 0
        bonus_type_name: Штраф МП. Невыполненный заказ (отмена клиентом после недовоза)
        penalty: 231.35
        ppvz_supplier_id: 186465
        acquiring_percent: 4.06
        realizationreport_id: 1234567
        delivery_amount: 0
        gi_box_type_name: Монопаллета
        srv_dbs: true
        ppvz_kvw_prc: 1.81
        seller_promo_id: 14350
        ppvz_for_pay: 376.99
        sale_price_affiliated_discount_prc: 0
        ppvz_vw_nds: 4.45
        wibes_wb_discount_percent: 1
        delivery_method: "FBS, (МГТ)"
        nm_id: 1234567
        supplier_oper_name: Продажа
        acquiring_bank: Тинькофф
        kiz: "0102900000376311210G2CIS?ehge)S\x1d91002A\x1d92F9Qof4FDo/31Icm14kmtuVYQzLypxm3HWkC1vQ/+pVVjm1dNAth1laFMoAGn7yEMWlTjxIe7lQnJqZ7TRZhlHQ=="
        rebill_logistic_org: ИП Иванов Иван Иванович(123456789012)
        ppvz_supplier_name: ИП Жасмин
        sticker_id: "1964038895"
        currency_name: руб
        quantity: 1
        suppliercontract_code: "{}"
        article_substitution: ""
        rrd_id: 1232610467
        shk_id: 1239159661
        supplier_promo: 0
        is_legal_entity: false
        additional_payment: 0
        doc_type_name: Продажа
        uuid_promocode: ""
        sale_price_wholesale_discount_prc: 0
        order_uid: id375f16c4bec295d9995393af803ff7b
        office_name: Коледино
        retail_price_withdisc_rub: 399.68
        storage_fee: 12647.29
        acquiring_fee: 14.89
        installment_cofinancing_amount: 0
        ppvz_office_name: Пункт самовывоза (ПВЗ)
        fix_tariff_date_from: 2024-10-23
      properties:
        realizationreport_id:
          description: Номер отчёта
          example: 1234567
          type: integer
        date_from:
          description: Дата начала отчётного периода
          example: 2022-10-17
          format: date
          type: string
        date_to:
          description: Дата конца отчётного периода
          example: 2022-10-23
          format: date
          type: string
        create_dt:
          description: Дата формирования отчёта
          example: 2022-10-24
          format: date
          type: string
        currency_name:
          description: Валюта отчёта
          example: руб
          type: string
        suppliercontract_code:
          description: Договор
          nullable: true
          type: object
          example: null
        rrd_id:
          description: Номер строки
          example: 1232610467
          type: integer
        gi_id:
          description: Номер поставки
          example: 123456
          type: integer
        dlv_prc:
          description: Фиксированный коэффициент склада по поставке
          example: 1.8
          type: number
        fix_tariff_date_from:
          description: Дата начала действия фиксации
          example: 2024-10-23
          format: date
          type: string
        fix_tariff_date_to:
          description: Дата конца действия фиксации
          example: 2024-11-18
          format: date
          type: string
        subject_name:
          description: Предмет
          example: Мини-печи
          type: string
        nm_id:
          description: Артикул WB
          example: 1234567
          type: integer
        brand_name:
          description: Бренд
          example: BlahBlah
          type: string
        sa_name:
          description: Артикул продавца
          example: MAB123
          type: string
        ts_name:
          description: Размер
          example: "0"
          type: string
        barcode:
          description: Баркод
          example: "1231312352310"
          type: string
        doc_type_name:
          description: Тип документа
          example: Продажа
          type: string
        quantity:
          description: Количество
          example: 1
          type: integer
        retail_price:
          description: Цена розничная
          example: 1249
          type: number
        retail_amount:
          description: Вайлдберриз реализовал Товар (Пр)
          example: 367
          type: number
        sale_percent:
          description: "Согласованный продуктовый дисконт, %"
          example: 0
          type: integer
        commission_percent:
          description: "Размер кВВ, %"
          example: 24
          type: number
        office_name:
          description: Склад
          example: Коледино
          type: string
        supplier_oper_name:
          description: Обоснование для оплаты
          example: Продажа
          type: string
        order_dt:
          description: Дата заказа. <br>Присылается с явным указанием часового пояса
          example: 2022-10-13T00:00:00Z
          format: date-time
          type: string
        sale_dt:
          description: Дата продажи. <br>Присылается с явным указанием часового пояса
          example: 2022-10-20T00:00:00Z
          format: date-time
          type: string
        rr_dt:
          description: Дата операции
          example: 2022-10-20
          format: date
          type: string
        shk_id:
          description: Штрихкод
          example: 1239159661
          type: integer
        retail_price_withdisc_rub:
          description: Цена розничная с учётом согласованной скидки
          example: 399.68
          type: number
        delivery_amount:
          description: Количество доставок
          example: 0
          type: integer
        return_amount:
          description: Количество возврата
          example: 0
          type: integer
        delivery_rub:
          description: Услуги по доставке товара покупателю
          example: 0
          type: number
        gi_box_type_name:
          description: Тип коробов
          example: Монопаллета
          type: string
        product_discount_for_report:
          description: "Итоговая согласованная скидка, %"
          example: 0
          type: number
        supplier_promo:
          description: "Промокод, %"
          example: 0
          type: number
        ppvz_spp_prc:
          description: "Скидка постоянного Покупателя (СПП), %"
          example: 25.31
          type: number
        ppvz_kvw_prc_base:
          description: "Размер кВВ без НДС, % базовый"
          example: 24.15
          type: number
        ppvz_kvw_prc:
          description: "Итоговый кВВ без НДС, %"
          example: 1.81
          type: number
        sup_rating_prc_up:
          description: "Размер снижения кВВ из-за рейтинга, %"
          type: number
        is_kgvp_v2:
          description: "Размер снижения кВВ из-за акции, %"
          type: number
        ppvz_sales_commission:
          description: "Вознаграждение с продаж до вычета услуг поверенного, без Н\
            ДС"
          example: 23.74
          type: number
        ppvz_for_pay:
          description: К перечислению продавцу за реализованный товар
          example: 376.99
          type: number
        ppvz_reward:
          description: Возмещение за выдачу и возврат товаров на ПВЗ
          example: 0
          type: number
        acquiring_fee:
          description: Эквайринг/Комиссии за организацию платежей
          example: 14.89
          type: number
        acquiring_percent:
          description: "Размер комиссии за эквайринг/Комиссии за организацию плате\
            жей, %"
          example: 4.06
          type: number
        payment_processing:
          description: Тип платежа за Эквайринг/Комиссии за организацию платежей
          example: Комиссия за организацию платежа с НДС
          type: string
        acquiring_bank:
          description: Наименование банка-эквайера
          example: Тинькофф
          type: string
        ppvz_vw:
          description: "Вознаграждение Вайлдберриз (ВВ), без НДС"
          example: 22.25
          type: number
        ppvz_vw_nds:
          description: НДС с вознаграждения Вайлдберриз
          example: 4.45
          type: number
        ppvz_office_name:
          description: Наименование офиса доставки
          example: Пункт самовывоза (ПВЗ)
          type: string
        ppvz_office_id:
          description: Номер офиса доставки
          example: 105383
          type: integer
        ppvz_supplier_id:
          description: Номер партнёра
          example: 186465
          type: integer
        ppvz_supplier_name:
          description: Партнёр
          example: ИП Жасмин
          type: string
        ppvz_inn:
          description: ИНН партнёра
          example: "010101010101"
          type: string
        declaration_number:
          description: Номер таможенной декларации
          example: ""
          type: string
        bonus_type_name:
          description: |
            Виды логистики, штрафов и корректировок ВВ.<br>
            Поле будет в ответе при наличии значения
          example: Штраф МП. Невыполненный заказ (отмена клиентом после недовоза)
          type: string
        sticker_id:
          description: "Цифровое значение стикера, который клеится на товар в проц\
            ессе сборки заказа по схеме \"Маркетплейс\""
          example: "1964038895"
          type: string
        site_country:
          description: Страна продажи
          example: Россия
          type: string
        srv_dbs:
          description: Признак услуги платной доставки
          example: true
          type: boolean
        penalty:
          description: Общая сумма штрафов
          example: 231.35
          type: number
        additional_payment:
          description: Корректировка Вознаграждения Вайлдберриз (ВВ)
          example: 0
          type: number
        rebill_logistic_cost:
          description: Возмещение издержек по перевозке/по складским операциям с товаром
          example: 1.349
          type: number
        rebill_logistic_org:
          description: |
            Организатор перевозки.<br>
            Поле будет в ответе при наличии значения
          example: ИП Иванов Иван Иванович(123456789012)
          type: string
        storage_fee:
          description: Хранение
          example: 12647.29
          type: number
        deduction:
          description: Удержания
          example: 6354
          type: number
        acceptance:
          description: Операции на приёмке
          example: 865
          type: number
        assembly_id:
          description: Номер сборочного задания
          example: 2816993144
          type: integer
        kiz:
          description: |
            Код маркировки.<br>
            Поле будет в ответе при наличии значения
          example: "0102900000376311210G2CIS?ehge)S\x1d91002A\x1d92F9Qof4FDo/31Icm14kmtuVYQzLypxm3HWkC1vQ/+pVVjm1dNAth1laFMoAGn7yEMWlTjxIe7lQnJqZ7TRZhlHQ=="
          type: string
        srid:
          description: |
            Уникальный ID заказа.

            Примечание для использующих API Marketplace: `srid` равен `rid` в ответах методов сборочных заданий.
          example: 0f1c3999172603062979867564654dac5b702849
          type: string
        report_type:
          description: |
            Тип отчёта:
              - `1` — стандартный
              - `2` — для уведомления о выкупе
              - `3`, `4` — для уведомления о выкупе для Грузии
          enum:
          - 1
          - 2
          - 3
          - 4
          example: 1
          type: integer
        is_legal_entity:
          description: Признак B2B-продажи
          example: false
          type: boolean
        trbx_id:
          description: Номер короба для обработки товара
          example: WB-TRBX-1234567
          type: string
        installment_cofinancing_amount:
          description: Скидка по программе софинансирования
          example: 0
          type: number
        wibes_wb_discount_percent:
          description: "Скидка Wibes, %"
          example: 1
          type: number
        cashback_amount:
          description: "Сумма, удержанная за начисленные баллы программы лояльност\
            и"
          example: 0
          type: number
        cashback_discount:
          description: Компенсация скидки по программе лояльности
          example: 0
          type: number
        cashback_commission_change:
          description: Стоимость участия в программе лояльности
          example: 0
          format: decimal
          type: number
        order_uid:
          description: ID транзакции. Заказы в одной корзине покупателя будут иметь
            одинаковый `order_uid`
          example: id375f16c4bec295d9995393af803ff7b
          type: string
        payment_schedule:
          description: Разовое изменение срока перечисления денежных средств
          example: 0
          format: decimal
          type: number
        delivery_method:
          description: Способ продажи и тип товара
          example: "FBS, (МГТ)"
          type: string
        seller_promo_id:
          description: ID собственной акции продавца с дополнительной скидкой
          example: 14350
          type: integer
        seller_promo_discount:
          description: "Размер дополнительной скидки по собственной акции продавца\
            , %"
          example: 3
          type: number
        loyalty_id:
          description: ID скидки лояльности от продавца
          example: 0
          type: integer
        loyalty_discount:
          description: "Размер скидки лояльности от продавца, %"
          example: 0
          type: number
        uuid_promocode:
          description: ID промокода
          example: ""
          type: string
        sale_price_promocode_discount_prc:
          description: "Скидка за промокод, %"
          example: 0
          type: number
        article_substitution:
          description: ID подменного артикула
          example: ""
          type: string
        sale_price_affiliated_discount_prc:
          description: "Скидка по подменному артикулу, %"
          example: 0
          type: number
        agency_vat:
          description: |
            Удержание Агентского НДС, %. Только для продавцов из Кыргызстана.<br>
            Поле будет в ответе при наличии значения
          example: 0
          type: number
        sale_price_wholesale_discount_prc:
          description: "Оптовая скидка для бизнеса, %"
          example: 0
          type: number
      type: object
    _api_v1_account_balance_get_200_response:
      example:
        for_withdraw: 6395.8
        current: 10196.21
        currency: RUB
      properties:
        currency:
          description: Валюта
          example: RUB
          type: string
        current:
          description: Текущий баланс продавца
          example: 10196.21
          type: number
        for_withdraw:
          description: "Сумма, доступная к выводу"
          example: 6395.8
          type: number
      type: object
    _api_v1_account_balance_get_401_response:
      properties:
        title:
          description: Заголовок ошибки
          type: string
        detail:
          description: Детали ошибки
          type: string
        code:
          description: Внутренний код ошибки
          type: string
        requestId:
          description: Уникальный ID запроса
          type: string
        origin:
          description: ID внутреннего сервиса WB
          type: string
        status:
          description: HTTP статус-код
          type: number
        statusText:
          description: Расшифровка HTTP статус-кода
          type: string
        timestamp:
          description: Дата и время запроса
          format: date-time
          type: string
      type: object
    _api_v1_account_balance_get_402_response:
      properties:
        title:
          description: Заголовок ошибки
          type: string
        detail:
          description: "Детали ошибки. Ошибка означает, что на балансе сервиса из\
            \ [Каталога](https://dev.wildberries.ru/business-solutions) недостаточ\
            но средств"
          type: string
      type: object
    _api_v5_supplier_reportDetailByPeriod_get_400_response:
      example:
        origin: origin
        detail: detail
        title: title
        request_id: request_id
        status: 1
      properties:
        status:
          description: HTTP статус-код
          type: integer
        title:
          description: Заголовок ошибки
          type: string
        detail:
          description: Детали ошибки
          type: string
        request_id:
          description: ID запроса
          type: string
        origin:
          description: ID внутреннего сервиса WB
          type: string
      type: object
    _api_v1_documents_list_get_400_response:
      example:
        requestId: requestId
        origin: origin
        detail: detail
        title: title
        status: 0.8008281904610115
      properties:
        title:
          description: Заголовок ошибки
          type: string
        status:
          description: HTTP статус-код
          type: number
        detail:
          description: Детализация ошибки
          type: string
        requestId:
          description: Уникальный ID запроса
          type: string
        origin:
          description: ID внутреннего сервиса WB
          type: string
      type: object
    requestDownload_params_inner:
      properties:
        extension:
          description: Формат документа
          type: string
        serviceName:
          description: Уникальный ID документа
          type: string
      type: object
    GetCategories_data_categories_inner:
      example:
        name: redeem-notification
        title: Уведомление о выкупе
      properties:
        name:
          description: "ID категории документа из параметра [запроса](./financial-reports-and-accounting#tag/Dokumenty/paths/~1api~1v1~1documents~1list/get)\
            \ `category`"
          example: redeem-notification
          type: string
        title:
          description: "Название категории документа из поля [ответа](./financial-reports-and-accounting#tag/Dokumenty/~1api~1v1~1documents~1list/get)\
            \ `category`"
          example: Уведомление о выкупе
          type: string
      type: object
    GetCategories_data:
      example:
        categories:
        - name: redeem-notification
          title: Уведомление о выкупе
        - name: redeem-notification
          title: Уведомление о выкупе
      properties:
        categories:
          description: Категории документов
          items:
            $ref: "#/components/schemas/GetCategories_data_categories_inner"
          type: array
      type: object
    GetList_data_documents_inner:
      example:
        extensions:
        - zip
        - zip
        creationTime: 2023-10-03T00:18:06.879Z
        viewed: false
        name: redeem-notification
        serviceName: redeem-notification-44841941
        category: Уведомление о выкупе
      properties:
        serviceName:
          description: Уникальный ID документа
          example: redeem-notification-44841941
          type: string
        name:
          description: Название документа
          example: redeem-notification
          type: string
        category:
          description: "Название [категории документов](./financial-reports-and-accounting#tag/Dokumenty/paths/~1api~1v1~1documents~1categories/get)\
            \ из поля ответа `title`"
          example: Уведомление о выкупе
          type: string
        extensions:
          description: Форматы документа
          items:
            example: zip
            type: string
          type: array
        creationTime:
          description: Дата и время создания документа
          example: 2023-10-03T00:18:06.879Z
          type: string
        viewed:
          description: Выгружен ли документ в личном кабинете
          example: false
          type: boolean
      type: object
    GetList_data:
      example:
        documents:
        - extensions:
          - zip
          - zip
          creationTime: 2023-10-03T00:18:06.879Z
          viewed: false
          name: redeem-notification
          serviceName: redeem-notification-44841941
          category: Уведомление о выкупе
        - extensions:
          - zip
          - zip
          creationTime: 2023-10-03T00:18:06.879Z
          viewed: false
          name: redeem-notification
          serviceName: redeem-notification-44841941
          category: Уведомление о выкупе
      properties:
        documents:
          description: Категории документов
          items:
            $ref: "#/components/schemas/GetList_data_documents_inner"
          type: array
      type: object
    GetDoc_data:
      example:
        fileName: Notice of redemption 44841941.zip
        extension: zip
        document: UEsDBBQACAgIAAAAAAAAAAAAAAAAAAAAAABHAAAA0KPQstC10LTQvtC80LvQtdC90LjQtSDQviDQstGL0LrRg9C/0LUg4oSWNDQ4NDE5NDEg0L7RgiAyNS4wOS4yMDIzLnhsc3jsnQk0lP3f/0dEUiRkNwmVECI7o0WS7EklxprdkH2bKVkqISRkGSlkaxRlN2TPnmzJvu/Gzmz/Uz33fY/L8/Q8zrn/x/07565zcjrn9f1cn/V6f69v53zTVCWnYATtA+0DAX/Rg0AgM5ip5l2Yg5OwKeyu+Wl3O1vbcA3YV5FDVfPej2vXKptOK1V9LjycmPDG72uW4vcG9xdsOI1V2wj86sk6+4nHJeZ92NFgC/He3gmDlccFXSyumXYUGSKK4hLLsqu5aBTspu5lqlcGB/JNlQVn1Eumj6o8ZEWPRotEVGkH9/kf457totEKj2N2P4dSZWAIaC0ajy5J+VL5fen1YOhcGMxvvUw+XOKFOHL...LSL/tC77s0GzTi2iBuHorbMpcOaw0Hmsc/gpk7ty3/cdDYRmhkRUPAIC37P94CA8oiP/fIvpPK8n9l43YARWRgH/tI6E3ntD/nfOfPyj9jxxDwn+b8/8dZqBDQPjPNSAACJgBAAD21P9s/y8AAP//UEsHCFHrudyQEwAASxQAAFBLAQIUABQACAgIAAAAAACH4v2BaSgAAGNjAABHAAAAAAAAAAAAAAAAAAAAAADQo9Cy0LXQtNC+0LzQu9C10L3QuNC1INC+INCy0YvQutGD0L/QtSDihJY0NDg0MTk0MSDQvtGCIDI1LjA5LjIwMjMueGxzeFBLAQIUABQACAgIAAAAAADTmLxwRQcAAGAPAABLAAAAAAAAAAAAAAAAAN4oAADQo9Cy0LXQtNC+0LzQu9C10L3QuNC1INC+INCy0YvQutGD0L/QtSDihJY0NDg0MTk0MSDQvtGCIDI1LjA5LjIwMjMueGxzeC5zaWdQSwECFAAUAAgACAAAAAAAUeu53JATAABLFAAACAAAAAAAAAAAAAAAAACcMAAAbWNoZC56aXBQSwUGAAAAAAMAAwAkAQAAYkQAAAAA
      properties:
        fileName:
          description: Название документа
          example: Notice of redemption 44841941.zip
          type: string
        extension:
          description: Формат документа
          example: zip
          type: string
        document:
          description: Документ в кодировке base64
          example: UEsDBBQACAgIAAAAAAAAAAAAAAAAAAAAAABHAAAA0KPQstC10LTQvtC80LvQtdC90LjQtSDQviDQstGL0LrRg9C/0LUg4oSWNDQ4NDE5NDEg0L7RgiAyNS4wOS4yMDIzLnhsc3jsnQk0lP3f/0dEUiRkNwmVECI7o0WS7EklxprdkH2bKVkqISRkGSlkaxRlN2TPnmzJvu/Gzmz/Uz33fY/L8/Q8zrn/x/07565zcjrn9f1cn/V6f69v53zTVCWnYATtA+0DAX/Rg0AgM5ip5l2Yg5OwKeyu+Wl3O1vbcA3YV5FDVfPej2vXKptOK1V9LjycmPDG72uW4vcG9xdsOI1V2wj86sk6+4nHJeZ92NFgC/He3gmDlccFXSyumXYUGSKK4hLLsqu5aBTspu5lqlcGB/JNlQVn1Eumj6o8ZEWPRotEVGkH9/kf457totEKj2N2P4dSZWAIaC0ajy5J+VL5fen1YOhcGMxvvUw+XOKFOHL...LSL/tC77s0GzTi2iBuHorbMpcOaw0Hmsc/gpk7ty3/cdDYRmhkRUPAIC37P94CA8oiP/fIvpPK8n9l43YARWRgH/tI6E3ntD/nfOfPyj9jxxDwn+b8/8dZqBDQPjPNSAACJgBAAD21P9s/y8AAP//UEsHCFHrudyQEwAASxQAAFBLAQIUABQACAgIAAAAAACH4v2BaSgAAGNjAABHAAAAAAAAAAAAAAAAAAAAAADQo9Cy0LXQtNC+0LzQu9C10L3QuNC1INC+INCy0YvQutGD0L/QtSDihJY0NDg0MTk0MSDQvtGCIDI1LjA5LjIwMjMueGxzeFBLAQIUABQACAgIAAAAAADTmLxwRQcAAGAPAABLAAAAAAAAAAAAAAAAAN4oAADQo9Cy0LXQtNC+0LzQu9C10L3QuNC1INC+INCy0YvQutGD0L/QtSDihJY0NDg0MTk0MSDQvtGCIDI1LjA5LjIwMjMueGxzeC5zaWdQSwECFAAUAAgACAAAAAAAUeu53JATAABLFAAACAAAAAAAAAAAAAAAAACcMAAAbWNoZC56aXBQSwUGAAAAAAMAAwAkAQAAYkQAAAAA
          type: string
      type: object
    GetDocs_data:
      example:
        fileName: documents.zip
        extension: zip
        document: UEsDBBQACAgIAAAAAAAAAAAAAAAAAAAAAABHAAAA0KPQstC10LTQvtC80LvQtdC90LjQtSDQviDQstGL0LrRg9C/0LUg4oSWNDQ4NDE5NDEg0L7RgiAyNS4wOS4yMDIzLnhsc3jsnQk0lP3f/0dEUiRkNwmVECI7o0WS7EklxprdkH2bKVkqISRkGSlkaxRlN2TPnmzJvu/Gzmz/Uz33fY/L8/Q8zrn/x/07565zcjrn9f1cn/V6f69v53zTVCWnYATtA+0DAX/Rg0AgM5ip5l2Yg5OwKeyu+Wl3O1vbcA3YV5FDVfPej2vXKptOK1V9LjycmPDG72uW4vcG9xdsOI1V2wj86sk6+4nHJeZ92NFgC/He3gmDlccFXSyumXYUGSKK4hLLsqu5aBTspu5lqlcGB/JNlQVn1Eumj6o8ZEWPRotEVGkH9/kf457totEKj2N2P4dSZWAIaC0ajy5J+VL5fen1YOhcGMxvvUw+XOKFOHL...LSL/tC77s0GzTi2iBuHorbMpcOaw0Hmsc/gpk7ty3/cdDYRmhkRUPAIC37P94CA8oiP/fIvpPK8n9l43YARWRgH/tI6E3ntD/nfOfPyj9jxxDwn+b8/8dZqBDQPjPNSAACJgBAAD21P9s/y8AAP//UEsHCFHrudyQEwAASxQAAFBLAQIUABQACAgIAAAAAACH4v2BaSgAAGNjAABHAAAAAAAAAAAAAAAAAAAAAADQo9Cy0LXQtNC+0LzQu9C10L3QuNC1INC+INCy0YvQutGD0L/QtSDihJY0NDg0MTk0MSDQvtGCIDI1LjA5LjIwMjMueGxzeFBLAQIUABQACAgIAAAAAADTmLxwRQcAAGAPAABLAAAAAAAAAAAAAAAAAN4oAADQo9Cy0LXQtNC+0LzQu9C10L3QuNC1INC+INCy0YvQutGD0L/QtSDihJY0NDg0MTk0MSDQvtGCIDI1LjA5LjIwMjMueGxzeC5zaWdQSwECFAAUAAgACAAAAAAAUeu53JATAABLFAAACAAAAAAAAAAAAAAAAACcMAAAbWNoZC56aXBQSwUGAAAAAAMAAwAkAQAAYkQAAAAA
      properties:
        fileName:
          description: Название документа
          example: documents.zip
          type: string
        extension:
          description: Формат документа
          example: zip
          type: string
        document:
          description: Документ в кодировке base64
          example: UEsDBBQACAgIAAAAAAAAAAAAAAAAAAAAAABHAAAA0KPQstC10LTQvtC80LvQtdC90LjQtSDQviDQstGL0LrRg9C/0LUg4oSWNDQ4NDE5NDEg0L7RgiAyNS4wOS4yMDIzLnhsc3jsnQk0lP3f/0dEUiRkNwmVECI7o0WS7EklxprdkH2bKVkqISRkGSlkaxRlN2TPnmzJvu/Gzmz/Uz33fY/L8/Q8zrn/x/07565zcjrn9f1cn/V6f69v53zTVCWnYATtA+0DAX/Rg0AgM5ip5l2Yg5OwKeyu+Wl3O1vbcA3YV5FDVfPej2vXKptOK1V9LjycmPDG72uW4vcG9xdsOI1V2wj86sk6+4nHJeZ92NFgC/He3gmDlccFXSyumXYUGSKK4hLLsqu5aBTspu5lqlcGB/JNlQVn1Eumj6o8ZEWPRotEVGkH9/kf457totEKj2N2P4dSZWAIaC0ajy5J+VL5fen1YOhcGMxvvUw+XOKFOHL...LSL/tC77s0GzTi2iBuHorbMpcOaw0Hmsc/gpk7ty3/cdDYRmhkRUPAIC37P94CA8oiP/fIvpPK8n9l43YARWRgH/tI6E3ntD/nfOfPyj9jxxDwn+b8/8dZqBDQPjPNSAACJgBAAD21P9s/y8AAP//UEsHCFHrudyQEwAASxQAAFBLAQIUABQACAgIAAAAAACH4v2BaSgAAGNjAABHAAAAAAAAAAAAAAAAAAAAAADQo9Cy0LXQtNC+0LzQu9C10L3QuNC1INC+INCy0YvQutGD0L/QtSDihJY0NDg0MTk0MSDQvtGCIDI1LjA5LjIwMjMueGxzeFBLAQIUABQACAgIAAAAAADTmLxwRQcAAGAPAABLAAAAAAAAAAAAAAAAAN4oAADQo9Cy0LXQtNC+0LzQu9C10L3QuNC1INC+INCy0YvQutGD0L/QtSDihJY0NDg0MTk0MSDQvtGCIDI1LjA5LjIwMjMueGxzeC5zaWdQSwECFAAUAAgACAAAAAAAUeu53JATAABLFAAACAAAAAAAAAAAAAAAAACcMAAAbWNoZC56aXBQSwUGAAAAAAMAAwAkAQAAYkQAAAAA
          type: string
      type: object
  securitySchemes:
    HeaderApiKey:
      in: header
      name: Authorization
      type: apiKey
