openapi: 3.0.1
info:
  description: |
    <div class="description_important">
        Узнать больше о маркетинге и продвижении можно в <a href="https://seller.wildberries.ru/instructions/category/59d92bd3-6ea0-40f2-b762-ca8835d7d42e?goBackOption=prevRoute&categoryId=479385c6-de01-4b4d-ad4e-ed941e65582e">справочном центре</a>
    </div>

    Методы маркетинга и продвижения позволяют:
      1. Получать информацию о кампаниях [продвижения](/openapi/promotion#tag/Kampanii) и [медиакампаниях](/openapi/promotion#tag/Media).
      2. [Создавать](/openapi/promotion#tag/Sozdanie-kampanij) и [управлять](/openapi/promotion#tag/Upravlenie-kampaniyami) кампаниями.
      3. Настраивать [параметры](/openapi/promotion#tag/Parametry-kampanij) кампаний — кластеры фраз, продвигаемые товары и так далее.
      4. Управлять [финансами](/openapi/promotion#tag/Finansy) кампаний.
      5. Выгружать [статистику](/openapi/promotion#tag/Statistika) кампаний продвижения и медиакампаний.
      6. Работать с [календарём акций](/openapi/promotion#tag/Kalendar-akcij).

    Данные синхронизируются с базой раз в 3 минуты. Статусы кампаний меняются раз в минуту. Ставки кампаний меняются раз в 30 секунд.
  title: Маркетинг и продвижение
  version: promotion
  x-file-name: promotion
servers:
- url: /
security:
- HeaderApiKey: []
tags:
- description: ""
  name: Кампании
- description: ""
  name: Создание кампаний
- description: ""
  name: Управление кампаниями
- description: ""
  name: Параметры кампаний
- description: ""
  name: Поисковые кластеры
- description: ""
  name: Финансы
- description: ""
  name: Медиа
- description: ""
  name: Статистика
- description: ""
  name: Календарь акций
paths:
  /adv/v1/promotion/count:
    get:
      description: |
        Метод возвращает списки всех [рекламных кампаний](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) продавца с их ID. Кампании сгруппированы по типу и статусу, у каждой указана дата последнего изменения.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 5 запросов | 200 миллисекунд | 5 запросов |
        </div>
      responses:
        "200":
          content:
            application/json:
              example:
                adverts:
                - type: 9
                  status: 8
                  count: 3
                  advert_list:
                  - advertId: 6485174
                    changeTime: 2023-05-10T12:12:52.676254+03:00
                  - advertId: 6500443
                    changeTime: 2023-05-10T17:08:46.370656+03:00
                  - advertId: 7936341
                    changeTime: 2023-07-12T15:51:08.367478+03:00
                all: 3
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_200_response"
          description: Успешно
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Списки кампаний
      tags:
      - Кампании
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v1/promotion/adverts:
    post:
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [2 февраля](https://dev.wildberries.ru/release-notes?id=388)
      parameters:
      - description: |
          Статус кампании:
          - `-1` — удалена, процесс удаления будет завершён в течение 10 минут
          - `4` — готова к запуску
          - `7` — завершена
          - `8` — отменена
          - `9` — активна
          - `11` — на паузе
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - -1
          - 4
          - 7
          - 8
          - 9
          - 11
          type: integer
        style: form
      - description: |
          Тип кампании:
          - `8` — единая ставка
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - 8
          type: integer
        style: form
      - description: |
          Порядок:
          - `create` — по времени создания кампании
          - `change` — по времени последнего изменения кампании
          - `id` — по ID кампании
        explode: true
        in: query
        name: order
        required: false
        schema:
          enum:
          - create
          - change
          - id
          type: string
        style: form
      - description: |
          Направление:
          - `desc` — от большего к меньшему
          - `asc` — от меньшего к большему
        explode: true
        in: query
        name: direction
        required: false
        schema:
          enum:
          - desc
          - asc
          type: string
        style: form
      requestBody:
        content:
          application/json:
            example:
            - 1234567
            - 63453471
            schema:
              items:
                description: "Список ID кампаний. Максимум 50. <br> <br> Получить\
                  \ ID кампаний можно методом [Списки кампаний](./promotion#tag/Kampanii/paths/~1adv~1v1~1promotion~1count/get)"
                type: integer
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                ResponseInfoAdvertType8:
                  $ref: "#/components/examples/ResponseInfoAdvertType8"
                ResponseInfoAdvertsAll:
                  $ref: "#/components/examples/ResponseInfoAdvertsAll"
              schema:
                items:
                  $ref: "#/components/schemas/ResponseInfoAdvertType8"
                type: array
          description: Успешно
        "204":
          description: Кампании не найдены
        "400":
          content:
            text/plain:
              examples:
                IncorrectTypeAdv:
                  $ref: "#/components/examples/IncorrectTypeAdv"
                IncorrectSupplierIdAdv:
                  $ref: "#/components/examples/IncorrectSupplierIdAdv"
                IncorrectUsingMethods:
                  $ref: "#/components/examples/IncorrectUsingMethods"
              schema:
                type: string
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "422":
          content:
            text/plain:
              examples:
                ErrorProcessRequestParam:
                  $ref: "#/components/examples/ErrorProcessRequestParam"
              schema:
                type: string
          description: Ошибка обработки параметров запроса
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Информация о кампаниях
      tags:
      - Кампании
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v0/auction/adverts:
    get:
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [2 февраля](https://dev.wildberries.ru/release-notes?id=388)
      parameters:
      - description: "ID кампаний, максимум 50 значений"
        explode: true
        in: query
        name: ids
        required: false
        schema:
          example: "12345,23456,34567,45678,56789"
          type: string
        style: form
      - description: |
          Статусы кампаний:
          - `-1` — удалена, процесс удаления будет завершён в течение 10 минут
          - `4` — готова к запуску
          - `7` — завершена
          - `8` — отменена
          - `9` — активна
          - `11` — на паузе
        explode: true
        in: query
        name: statuses
        required: false
        schema:
          enum:
          - "-1"
          - "4"
          - "7"
          - "8"
          - "9"
          - "11"
          example: "-1,4,8"
          type: string
        style: form
      - description: |
          Тип оплаты:
          - `cpm` — за показы
          - `cpc` — за клик
        explode: true
        in: query
        name: payment_type
        required: false
        schema:
          enum:
          - cpm
          - cpc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                adverts:
                - id: 18298989
                - nm_settings:
                  - bids:
                      recommendations: 0
                      search: 150
                    subject:
                      id: 69
                      name: платья
                    nm_id: 139312996
                - settings:
                    name: Кампания 34
                    payment_type: cpc
                    placements:
                      recommendations: false
                      search: true
                - status: 7
                - timestamps:
                    created: 2024-06-28T15:49:02.031402+03:00
                    deleted: 2024-07-03T13:53:42.260198+03:00
                    started: 2024-07-01T23:32:09.083098+03:00
                    updated: 2025-07-30T10:23:55.719721+03:00
                - bid_type: manual
              schema:
                $ref: "#/components/schemas/GetAuctionAdverts"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
              schema:
                $ref: "#/components/schemas/response400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Информация о кампаниях с ручной ставкой
      tags:
      - Кампании
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /api/advert/v2/adverts:
    get:
      description: |
        Метод возвращает информацию о рекламных кампаниях с единой или ручной ставкой по их статусам, типам оплаты и ID.

         <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 5 запросов | 200 миллисекунд | 5 запросов |
        </div>
      parameters:
      - description: "ID кампаний, максимум 50"
        explode: true
        in: query
        name: ids
        required: false
        schema:
          example: "12345,23456,34567,45678,56789"
          type: string
        style: form
      - description: |
          Статусы кампаний:
          - `-1` — удалена, процесс удаления будет завершён в течение 10 минут
          - `4` — готова к запуску
          - `7` — завершена
          - `8` — отменена
          - `9` — активна
          - `11` — на паузе
        explode: true
        in: query
        name: statuses
        required: false
        schema:
          enum:
          - "-1"
          - "4"
          - "7"
          - "8"
          - "9"
          - "11"
          example: "-1,4,8"
          type: string
        style: form
      - description: |
          Тип оплаты:
          - `cpm` — за показы
          - `cpc` — за клик
        explode: true
        in: query
        name: payment_type
        required: false
        schema:
          enum:
          - cpm
          - cpc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                adverts:
                - bid_type: manual
                  id: 567456457
                  nm_settings:
                  - bids_kopecks:
                      recommendations: 0
                      search: 0
                    nm_id: 123456789
                    subject:
                      id: 52
                      name: кошельки
                  - bids_kopecks:
                      recommendations: 11200
                      search: 11200
                    nm_id: 987654321
                    subject:
                      id: 54
                      name: ювелирные кольца
                  settings:
                    name: Кампания от 01.02.2024
                    payment_type: cpm
                    placements:
                      recommendations: false
                      search: true
                  status: 7
                  timestamps:
                    created: 2024-02-01T09:57:38.500606+03:00
                    deleted: 2024-02-05T14:29:32.633968+03:00
                    started: 2024-02-05T12:38:10.212086+03:00
                    updated: 2024-02-05T14:29:32.633968+03:00
                - bid_type: manual
                  id: 28150154
                  nm_settings:
                  - bids_kopecks:
                      recommendations: 0
                      search: 1100
                    nm_id: 5764746785
                    subject:
                      id: 69
                      name: платья
                  settings:
                    name: 'Кампания от 28.08.2025 '
                    payment_type: cpc
                    placements:
                      recommendations: false
                      search: true
                  status: 11
                  timestamps:
                    created: 2025-08-28T09:50:57.611559+03:00
                    deleted: 2100-01-01T00:00:00+03:00
                    started: null
                    updated: 2025-09-10T10:14:58.475499+03:00
              schema:
                $ref: "#/components/schemas/GetAdverts"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
              schema:
                $ref: "#/components/schemas/response400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Информация о кампаниях
      tags:
      - Кампании
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v0/config:
    get:
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [2 февраля](https://dev.wildberries.ru/release-notes?id=388)
      responses:
        "200":
          content:
            application/json:
              example:
                categories:
                - id: 760
                  name: Автомобильные товары
                  cpm_min: 112
                config:
                - description: Минимальный бюджет кампании
                  name: budget_min
                  value: "1000"
                - description: "Максимальный период в днях, за который можно получ\
                    ить статистику"
                  name: api_fullstat_day_depth
                  value: "31"
                - description: Минимальная ставка CPM для кампаний с ручной ставкой
                  name: cpm_min_booster
                  value: "100"
                - description: Минимальная ставка CPM для кампаний с единой ставкой
                  name: cpm_min_search_catalog
                  value: "150"
                - description: Максимальное количество товаров для кампаний с ручной
                    ставкой
                  name: max_nm_count
                  value: "50"
                - description: Максимальное количество товаров для кампаний с единой
                    ставкой
                  name: max_auto_nms
                  value: "100"
              schema:
                $ref: "#/components/schemas/_adv_v0_config_get_200_response"
          description: Успешно
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Конфигурационные значения Продвижения
      tags:
      - Создание кампаний
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v0/bids/min:
    post:
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [2 февраля](https://dev.wildberries.ru/release-notes?id=388)
      requestBody:
        content:
          application/json:
            example:
              advert_id: 98765432
              nm_ids:
              - 12345678
              - 87654321
              payment_type: cpm
              placement_types:
              - combined
              - search
              - recommendation
            schema:
              $ref: "#/components/schemas/_adv_v0_bids_min_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                bids:
                - bids:
                  - type: combined
                    value: 155
                  - type: search
                    value: 250
                  - type: recommendation
                    value: 250
                  nm_id: 12345678
                - bids:
                  - type: combined
                    value: 155
                  - type: search
                    value: 250
                  - type: recommendation
                    value: 250
                  nm_id: 87654321
              schema:
                $ref: "#/components/schemas/_adv_v0_bids_min_post_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardizedBatchError"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      summary: Минимальные ставки для карточек товаров
      tags:
      - Создание кампаний
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /api/advert/v1/bids/min:
    post:
      description: |
        Метод возвращает минимальные ставки для карточек товаров в копейках по типу оплаты и местам размещения.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 20 запросов | 3 секунды | 5 запросов |
        </div>
      requestBody:
        content:
          application/json:
            example:
              advert_id: 98765432
              nm_ids:
              - 12345678
              - 87654321
              payment_type: cpm
              placement_types:
              - combined
              - search
              - recommendation
            schema:
              $ref: "#/components/schemas/_adv_v0_bids_min_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                bids:
                - bids:
                  - type: combined
                    value: 155
                  - type: search
                    value: 250
                  - type: recommendation
                    value: 250
                  nm_id: 12345678
                - bids:
                  - type: combined
                    value: 155
                  - type: search
                    value: 250
                  - type: recommendation
                    value: 250
                  nm_id: 87654321
              schema:
                $ref: "#/components/schemas/_api_advert_v1_bids_min_post_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardizedBatchError"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      summary: Минимальные ставки для карточек товаров
      tags:
      - Создание кампаний
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v2/seacat/save-ad:
    post:
      description: |
        Метод создаёт кампанию:
          - с ручной ставкой для продвижения товаров в поиске и/или рекомендациях
          - с единой ставкой для продвижения товаров одновременно в поиске и рекомендациях

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 5 запросов | 12 секунд | 5 запросов |
        </div>
      requestBody:
        content:
          application/json:
            example:
              name: Телефоны
              nms:
              - 146168367
              - 200425104
              bid_type: manual
              placement_types:
              - search
              - recommendations
            schema:
              $ref: "#/components/schemas/_adv_v2_seacat_save_ad_post_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: ID кампании
                example: 1234567
                type: integer
          description: Успешно
        "400":
          content:
            application/json:
              example: Нет доступных категорий для рк. Создайте новую кампанию для
                попадания в текущие категории
              schema:
                type: string
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Создать кампанию
      tags:
      - Создание кампаний
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v1/supplier/subjects:
    get:
      description: |
        Метод возвращает список [предметов](/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1all/get), которые можно добавить в рекламную [кампанию](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 12 секунд | 1 запрос | 12 секунд | 5 запросов |
        </div>
      parameters:
      - description: |
          Тип оплаты:
          - `cpm` — за показы
          - `cpc` — за клик
        explode: true
        in: query
        name: payment_type
        required: false
        schema:
          default: cpm
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Array:
                  value:
                  - name: 3D очки
                    id: 2560
                    count: 1899
                "null":
                  value: null
              schema:
                items:
                  $ref: "#/components/schemas/_adv_v1_supplier_subjects_get_200_response_inner"
                nullable: true
                type: array
                x-nullable: true
          description: Успешно
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "404":
          description: Не найдено
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Предметы для кампаний
      tags:
      - Создание кампаний
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v2/supplier/nms:
    post:
      description: |
        Метод возвращает список [карточек товаров](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1get~1cards~1list/post), которые можно добавить в рекламную [кампанию](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get). Для получения карточек необходимы ID [предметов](/openapi/promotion#tag/Sozdanie-kampanij/paths/~1adv~1v1~1supplier~1subjects/get), также доступных для добавления в кампанию.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 5 запросов | 12 секунд | 5 запросов |
        </div>
      requestBody:
        content:
          application/json:
            example:
            - 123
            - 456
            - 765
            - 321
            schema:
              items:
                type: integer
              type: array
        description: "ID предметов, для которых нужно получить карточки товаров"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Карточки товаров для кампаний
                items:
                  $ref: "#/components/schemas/_adv_v2_supplier_nms_post_200_response_inner"
                type: array
          description: Успешно
        "400":
          content:
            text/plain:
              example: Ошибка обработки тела запроса
              schema:
                type: string
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Карточки товаров для кампаний
      tags:
      - Создание кампаний
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v0/delete:
    get:
      description: |
        Метод удаляет [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) в статусе `4` — готова к запуску.<br><br>

        После удаления кампания некоторое время будет находиться в статусе `-1` — кампания в процессе удаления. Полное удаление кампании занимает от 3 до 10 минут.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 5 запросов | 200 миллисекунд | 5 запросов |
        </div>
      parameters:
      - description: ID кампании
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                ResponseInvalidCampaignID:
                  $ref: "#/components/examples/ResponseInvalidCampaignID"
              schema:
                $ref: "#/components/schemas/responseAdvError1"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Удаление кампании
      tags:
      - Управление кампаниями
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v0/rename:
    post:
      description: |
        Метод меняет название [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get). Это можно сделать в любой момент существования кампании.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 5 запросов | 200 миллисекунд | 5 запросов |
        </div>
      requestBody:
        content:
          application/json:
            example:
              advertId: 2233344
              name: newname
            schema:
              $ref: "#/components/schemas/_adv_v0_rename_post_request"
      responses:
        "200":
          description: Успешно
        "400":
          content:
            text/plain:
              examples:
                InvalidRcIdAdv:
                  $ref: "#/components/examples/InvalidRcIdAdv"
                IncorrectName:
                  $ref: "#/components/examples/IncorrectName"
                IncorrectSupplierIdAdv:
                  $ref: "#/components/examples/IncorrectSupplierIdAdv"
              schema:
                type: string
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "422":
          content:
            text/plain:
              examples:
                RequestBodyProcessErrorAdv:
                  $ref: "#/components/examples/RequestBodyProcessErrorAdv"
                CompanyNameChangeErr:
                  $ref: "#/components/examples/CompanyNameChangeErr"
              schema:
                type: string
          description: Ошибка обработки параметров запроса
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Переименование кампании
      tags:
      - Управление кампаниями
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v0/start:
    get:
      description: |
        Метод запускает [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) в статусах `4` — готово к запуску — или `11` — пауза.

        Чтобы запустить кампанию со статусом `4`, необходимо выполнить два условия:
          1. После создания кампании в кабинете **WB. Продвижение** нажать кнопку **Применить изменения**.
          2. Установить бюджет — максимальную сумму затрат на кампанию.

        Чтобы запустить кампанию со статусом `11`, проверьте ее бюджет. Если бюджета недостаточно, [пополните его](/openapi/promotion#tag/Finansy/paths/~1adv~1v1~1budget~1deposit/post).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 5 запросов | 200 миллисекунд | 5 запросов |
        </div>
      parameters:
      - description: ID кампании
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: 1234
          type: integer
        style: form
      responses:
        "200":
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectId:
                  $ref: "#/components/examples/IncorrectId"
                AdvertNotFound:
                  $ref: "#/components/examples/AdvertNotFound"
              schema:
                $ref: "#/components/schemas/400Response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "422":
          content:
            text/plain:
              examples:
                StatusNoChangeAdv:
                  $ref: "#/components/examples/StatusNoChangeAdv"
              schema:
                type: string
          description: Статус не изменен
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Запуск кампании
      tags:
      - Управление кампаниями
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v0/pause:
    get:
      description: |
        Метод ставит [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) в статусе `9` — активна — на паузу.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 5 запросов | 200 миллисекунд | 5 запросов |
        </div>
      parameters:
      - description: ID кампании
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: 1234
          type: integer
        style: form
      responses:
        "200":
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectId:
                  $ref: "#/components/examples/IncorrectId"
                AdvertNotFound:
                  $ref: "#/components/examples/AdvertNotFound"
              schema:
                $ref: "#/components/schemas/400Response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "422":
          content:
            text/plain:
              examples:
                StatusNoChangeAdv:
                  $ref: "#/components/examples/StatusNoChangeAdv"
              schema:
                type: string
          description: Статус не изменен
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Пауза кампании
      tags:
      - Управление кампаниями
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v0/stop:
    get:
      description: |
        Метод завершает [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) в статусах:
          - `4` — готово к запуску
          - `9` — активна
          - `11` — пауза

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 5 запросов | 200 миллисекунд | 5 запросов |
        </div>
      parameters:
      - description: ID кампании
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: 1234
          type: integer
        style: form
      responses:
        "200":
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectId:
                  $ref: "#/components/examples/IncorrectId"
                AdvertNotFound:
                  $ref: "#/components/examples/AdvertNotFound"
              schema:
                $ref: "#/components/schemas/400Response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "422":
          content:
            text/plain:
              examples:
                StatusNoChangeAdv:
                  $ref: "#/components/examples/StatusNoChangeAdv"
              schema:
                type: string
          description: Статус не изменен
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Завершение кампании
      tags:
      - Управление кампаниями
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v0/bids:
    patch:
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [2 февраля](https://dev.wildberries.ru/release-notes?id=388)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_adv_v0_bids_patch_request"
        required: true
      responses:
        "204":
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                CampaignIsNotUnique:
                  $ref: "#/components/examples/CampaignIsNotUnique"
                CanNotDeserializeResponseBody:
                  $ref: "#/components/examples/CanNotDeserializeResponseBody"
                CampaignNotFound:
                  $ref: "#/components/examples/CampaignNotFoundBids"
                NmNotFound:
                  $ref: "#/components/examples/NmNotFound"
                WrongCampaignID:
                  $ref: "#/components/examples/WrongCampaignID"
                WrongCampaignStatus:
                  $ref: "#/components/examples/WrongCampaignStatus"
                WrongBidValue:
                  $ref: "#/components/examples/WrongBidValue"
              schema:
                $ref: "#/components/schemas/_adv_v0_bids_patch_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      summary: Изменение ставок
      tags:
      - Управление кампаниями
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v0/auction/placements:
    put:
      description: |
        Метод меняет места размещения в кампаниях с ручной ставкой и моделью оплаты за показы — `cpm`.
        <br><br>
        Для кампаний в статусах `4`, `9` и `11`.

         <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 1 запрос | 1 секунда | 1 запрос |
        </div>
      requestBody:
        content:
          application/json:
            example:
              placements:
              - advert_id: 12345
                placements:
                  search: true
                  recommendations: true
            schema:
              $ref: "#/components/schemas/_adv_v0_auction_placements_put_request"
        required: true
      responses:
        "204":
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                BadRequest:
                  value:
                    detail: can not deserialize response body
                    origin: camp-api-public-cache
                    request_id: 9a929a81ea9dc1601fcc4be81f32c1cb
                    status: 400
                    title: invalid payload
                BadAdvertPaymentType:
                  value:
                    detail: "advert 12345 has payment type cpc, placements cannot\
                      \ be changed"
                    origin: camp-api-public-cache
                    request_id: e53addfabe9274d5b8f77272ca085ac4
                    status: 400
                    title: invalid payload
              schema:
                $ref: "#/components/schemas/response400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Изменение мест размещения в кампаниях с ручной ставкой
      tags:
      - Управление кампаниями
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v0/auction/bids:
    patch:
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [2 февраля](https://dev.wildberries.ru/release-notes?id=388)
      requestBody:
        content:
          application/json:
            example:
              bids:
              - advert_id: 12345
                nm_bids:
                - nm_id: 13335157
                  bid: 250
                  placement: recommendations
            schema:
              $ref: "#/components/schemas/_adv_v0_auction_bids_patch_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                bids:
                - advert_id: 12345
                  nm_bids:
                  - nm_id: 13335157
                    bid: 250
                    placement: recommendations
              schema:
                $ref: "#/components/schemas/_adv_v0_auction_bids_patch_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: "wrong bid value: 3; min: 150"
                origin: camp-api-public-cache
                request_id: 9a929a81ea9dc1601fcc4be81f32c1cb
                status: 400
                title: invalid payload
              schema:
                $ref: "#/components/schemas/response400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Изменение ставок в кампаниях
      tags:
      - Управление кампаниями
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /api/advert/v1/bids:
    patch:
      description: |
        Метод меняет ставки карточек товаров по артикулам WB в кампаниях с единой или ручной ставкой.
        <br><br>
        Для кампаний в статусах `4`, `9` и `11`.
        <br><br>
        В запросе укажите место размещения в параметре `placement`:
          - `combined` — в поиске и рекомендациях для кампаний с единой ставкой
          - `search `или `recommendations` — в поиске или рекомендациях для кампаний с ручной ставкой

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 5 запросов | 200 миллисекунд | 5 запросов |
        </div>
      requestBody:
        content:
          application/json:
            example:
              bids:
              - advert_id: 12345
                nm_bids:
                - nm_id: 13335157
                  bid_kopecks: 250
                  placement: recommendations
            schema:
              $ref: "#/components/schemas/_api_advert_v1_bids_patch_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                bids:
                - advert_id: 12345
                  nm_bids:
                  - nm_id: 13335157
                    bid: 250
                    placement: recommendations
              schema:
                $ref: "#/components/schemas/_api_advert_v1_bids_patch_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: "wrong bid value: 3; min: 150"
                origin: camp-api-public-cache
                request_id: 9a929a81ea9dc1601fcc4be81f32c1cb
                status: 400
                title: invalid payload
              schema:
                $ref: "#/components/schemas/response400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Изменение ставок в кампаниях
      tags:
      - Управление кампаниями
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v1/balance:
    get:
      description: |
        Метод возвращает информацию о:
          - счёте кабинета Продвижения WB. Его пополняет продавец.
          - балансе — максимальной сумме для оплаты кампании по взаиморасчету: удержании средств из будущих продаж. Баланс пополнить нельзя, он рассчитывается автоматически на основе отчётов по продвижению.
          - бонусных начислениях WB.

        Информацию о бюджете кампаний можно получить в [отдельном методе](/openapi/promotion#tag/Finansy/paths/~1adv~1v1~1budget/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 1 запрос | 1 секунда | 5 запросов |
        </div>
      responses:
        "200":
          content:
            application/json:
              example:
                balance: 11083
                net: 0
                bonus: 15187
                cashbacks:
                - sum: 10672
                  percent: 50
                  expiration_date: 2026-04-17T10:46:02.176174Z
              schema:
                $ref: "#/components/schemas/_adv_v1_balance_get_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectSupplierIdAdv:
                  $ref: "#/components/examples/IncorrectSupplierIdAdv"
              schema:
                type: string
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Баланс
      tags:
      - Финансы
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v1/budget:
    get:
      description: |
        Метод возвращает информацию о бюджете [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) — максимальной сумме затрат на кампанию. Бюджет кампании можно [пополнить](/openapi/promotion#tag/Finansy/paths/~1adv~1v1~1budget~1deposit/post).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 4 запроса | 250 миллисекунд | 4 запроса |
        </div>
      parameters:
      - description: ID кампании
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                cash: 0
                netting: 0
                total: 500
              schema:
                $ref: "#/components/schemas/_adv_v1_budget_get_200_response"
          description: Успешно
        "400":
          content:
            text/plain:
              examples:
                CampaignNotBelongSeller:
                  $ref: "#/components/examples/CampaignNotBelongSeller"
              schema:
                type: string
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Бюджет кампании
      tags:
      - Финансы
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v1/budget/deposit:
    post:
      description: |
        Метод пополняет [бюджет](/openapi/promotion#tag/Finansy/paths/~1adv~1v1~1budget/get) кампании в статусе `11` — на паузе. <br>
        Чтобы запустить кампанию после пополнения бюджета, используйте метод [Запуск кампании](/openapi/promotion#tag/Upravlenie-kampaniyami/paths/~1adv~1v0~1start/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 1 запрос | 1 секунда | 5 запросов |
        </div>
      parameters:
      - description: ID кампании
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: 1234567
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_adv_v1_budget_deposit_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                ResponseWithReturn:
                  $ref: "#/components/examples/ResponseWithReturn"
              schema:
                $ref: "#/components/schemas/ResponseWithReturn"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                DepositAmountMultiple50:
                  description: Сумма пополнения должна быть кратна 50 руб
                  value:
                    error: Сумма пополнения должна быть кратна 50 руб
                MinimumDepositAmountIs500:
                  description: Минимальная сумма пополнения 1000 рублей
                  value:
                    error: Минимальная сумма пополнения 1000 рублей
                IncorrectType:
                  description: Неверный тип источника списания для пополнения промо-бонусами
                  value:
                    error: "Invalid Params: cashback can not be used with such type"
              schema:
                $ref: "#/components/schemas/_adv_v1_budget_deposit_post_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Пополнение бюджета кампании
      tags:
      - Финансы
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v1/upd:
    get:
      description: |
        Метод формирует список фактических затрат на рекламные кампании за заданный период.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 1 запрос | 1 секунда | 5 запросов |
        </div>
      parameters:
      - description: Начало интервала
        explode: true
        in: query
        name: from
        required: true
        schema:
          example: 2023-07-31
          format: date
          type: string
        style: form
      - description: |
          Конец интервала. <br>
          (Минимальный интервал 1 день, максимальный 31)
        explode: true
        in: query
        name: to
        required: true
        schema:
          example: 2023-08-02
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - updNum: 0
                updTime: 2023-07-31T12:12:54.060536+03:00
                updSum: 24
                advertId: 3355881
                campName: лук лучок
                advertType: 6
                paymentType: Баланс
                advertStatus: 9
              - updNum: 0
                updTime: null
                updSum: 107
                advertId: 3366882
                campName: золотая луковица
                advertType: 8
                paymentType: Счет
                advertStatus: 11
              schema:
                items:
                  $ref: "#/components/schemas/_adv_v1_upd_get_200_response_inner"
                type: array
          description: Успешно
        "400":
          content:
            text/plain:
              examples:
                IncorrectSupplierIdAdv:
                  $ref: "#/components/examples/IncorrectSupplierIdAdv"
              schema:
                type: string
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получение истории затрат
      tags:
      - Финансы
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v1/payments:
    get:
      description: |
        Метод возвращает историю пополнений счёта **WB Продвижение** за заданный период.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 1 запрос | 1 секунда | 5 запросов |
        </div>
      parameters:
      - description: Начало интервала
        explode: true
        in: query
        name: from
        required: false
        schema:
          example: 2023-07-31
          format: date
          type: string
        style: form
      - description: |
          Конец интервала. <br>
          (Минимальный интервал 1 день, максимальный 31)
        explode: true
        in: query
        name: to
        required: false
        schema:
          example: 2023-08-02
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 1036666
                date: 2022-02-04T09:06:47.985843Z
                sum: 600
                type: 0
                statusId: 1
                cardStatus: ""
              - id: 55261296
                date: 2023-04-13T10:07:42
                sum: 1500
                type: 3
                statusId: 1
                cardStatus: succeeded
              schema:
                items:
                  $ref: "#/components/schemas/_adv_v1_payments_get_200_response_inner"
                type: array
          description: Успешно
        "204":
          description: История пополнений счета не найдена
        "400":
          content:
            application/json:
              examples:
                IncorrectSupplierIdAdv:
                  $ref: "#/components/examples/IncorrectSupplierIdAdv"
              schema:
                type: string
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получение истории пополнений счёта
      tags:
      - Финансы
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v1/search/set-plus:
    get:
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [15 января](https://dev.wildberries.ru/release-notes?id=385)
      parameters:
      - description: ID кампании
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: 1234567
          type: integer
        style: form
      - description: "Новое состояние (`false` — сделать неактивными, `true` — сде\
          лать активными)"
        explode: true
        in: query
        name: fixed
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                example: Неправильный запрос
                type: string
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Управление активностью фиксированных фраз
      tags:
      - Параметры кампаний
      x-readonly-method: false
      x-category: advert
    post:
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [15 января](https://dev.wildberries.ru/release-notes?id=385)
      parameters:
      - description: ID кампании
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: 1234567
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            example:
              pluse:
              - Фраза 1
              - Фраза 2
            schema:
              $ref: "#/components/schemas/_adv_v1_search_set_plus_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
              - Фраза 1
              - Фраза 2
              schema:
                items:
                  type: string
                type: array
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                NotFound:
                  value:
                    error: "Not Found: Campaign not found"
                InvalidParams:
                  value:
                    error: "Invalid Params: not available for unified campaigns"
              schema:
                $ref: "#/components/schemas/_adv_v1_budget_deposit_post_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Установка/удаление фиксированных фраз
      tags:
      - Параметры кампаний
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v1/search/set-excluded:
    post:
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [2 февраля](https://dev.wildberries.ru/release-notes?id=388)
      parameters:
      - description: ID кампании
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: 1234567
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            example:
              excluded:
              - что-то синее
              - картошечка
            schema:
              $ref: "#/components/schemas/_adv_v1_search_set_excluded_post_request"
        required: true
      responses:
        "200":
          description: Успешно
        "400":
          content:
            text/plain:
              schema:
                example: Неправильный запрос
                type: string
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Установка/удаление минус-фраз в поиске
      tags:
      - Параметры кампаний
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v1/auto/set-excluded:
    post:
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [2 февраля](https://dev.wildberries.ru/release-notes?id=429)
      parameters:
      - description: ID кампании
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: 1234567
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            examples:
              SettingMinusPhrase:
                $ref: "#/components/examples/SettingMinusPhrase"
              RemovingMinusPhrase:
                $ref: "#/components/examples/RemovingMinusPhrase"
            schema:
              $ref: "#/components/schemas/_adv_v1_search_set_excluded_post_request"
        required: true
      responses:
        "200":
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                InvalidCampaignId:
                  $ref: "#/components/examples/InvalidCampaignId"
                InvalidPayloadBody:
                  $ref: "#/components/examples/InvalidPayloadBody"
              schema:
                $ref: "#/components/schemas/400Response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Установка/удаление минус-фраз для кампании с единой ставкой
      tags:
      - Параметры кампаний
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v1/auto/getnmtoadd:
    get:
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [2 февраля](https://dev.wildberries.ru/release-notes?id=429)
      parameters:
      - description: ID кампании
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - 1111111111
              - 2222222222
              - 3333333333
              - 4444444444
              schema:
                items:
                  type: integer
                type: array
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                invalidAdvert:
                  $ref: "#/components/examples/invalidAdvert"
              schema:
                $ref: "#/components/schemas/responseAdvError1"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
[...]
